@import './partials/resets';
@import './partials/variables';
@import './partials/navbar';
@import './partials/title';
@import './partials/create-form';
@import './partials/posts';



main{
	margin-left: 5rem;
	padding: 0rem;
	transition: margin-left 200ms ease;
	border-left: 1px solid $border-color;
	height: 100%;
	background-color: #192734;
	color: white;
}

#nav-bar:hover + main{
	margin-left: 16rem;
}

body{
	background-color: #192734;
}

.pagination{
	display: flex;
	justify-content: space-between;
	.next{
		margin-left: auto;
	}
}

.follow-div{
	display: flex;
	justify-content: space-around;
}

#profile-title{
	display: flex;
	justify-content: space-around;
	#follow-btn{
			color: white ;
			font-weight: 700;
            background-color: $bg-primary;
            width: 100px;
            border-radius: 20px;
            margin-left: 320px;
            margin-top: 10px;
	}
}

