{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="allposts-page">
        <div class="title">
            <h3>Home Page</h3>
        </div>
        {% if user.is_authenticated %}
        <div id="createpost-div">
            <form id="newpost-form">
            <label for="content"></label>
            <textarea placeholder="{{ user.username.capitalize }}, people want to see your next post" name="content" id="post-content" cols="30" rows="10"></textarea>
            <input class="create-btn-form btn btn-primary" type="submit" value="Submit">            
            </form>
        </div>
        {% endif %}
        <div class="posts-div" id="all-posts-div">
            
        </div>
    </div>
    <div id="following-page">
        <h3>Following User´s</h3>
        <div class="posts-div" id="following-posts-div"></div>
    </div>
    <div id="profile-page">
        <h3 id="profileTitle"></h3>
        <button type="submit" id="follow-btn"></button>
        <div id="profile-followers"></div>
        <div id="profile-following"></div>
        <div class="posts-div" id="profile-posts-div"></div>
    </div>
    <div class="pagination">
        <button id="previousBtn">Previous</button>
        <button id="nextBtn">Next</button>
    </div>
{% endblock %}

{% block script %}
<script id="hello-data" type="application/json">{"username": "{{request.user}}"}</script>
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}