{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="allposts-page">
        {% if user.is_authenticated %}
        <div class="createpost-div">
            <form id="newpost-form">
            
            {{ createform }}
            <input class="create-btn-form btn btn-primary" type="submit" value="Submit">            
            </form>
        </div>
        {% endif %}
        <div id="allposts-div">
            
        </div>
    </div>
    <div id="following-page">
        <h3>Following Page</h3>
    </div>
    <div id="profile-page">
        <h3 id="profileTitle"></h3>
        <div id="profile-followers"></div>
        <div id="profile-following"></div>
        <div id="profile-posts"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}