{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block script %}
        {% endblock %}
        <link href="{% sass_src 'network/styles.scss' %}" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/89c4ef0c32.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav id="nav-bar">
            <ul>
                <!--{% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/admin/">Admin</a>
                </li>-->
                {% endif %}
                {% if user.is_authenticated %}  
                <li class="nav-item">
                    <button class="unstyle-btn" id="allposts">
                        <i class="fas fa-list-alt"></i>
                        <span class="link-text">Home Page</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="unstyle-btn" id="user">
                        <i class="fas fa-id-card"></i>
                        <span class="link-text">{{ user.username.capitalize }} - Profile</span>
                    </button></li>
                <li class="nav-item">
                    <button class="unstyle-btn" id="following">
                        <i class="fas fa-user-friends"></i>
                        <span class="link-text">Following</span>
                    </button>
                    
                </li>
                <li class="nav-item">
                    <a class="unstyle-btn" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="link-text">Log Out</span>
                    </a>
                    
                </li>
                {% else %}
                <li class="nav-item"><a class="unstyle-btn" href="http://127.0.0.1:8000/admin/"></a>Admin</li>
                <li class="nav-item"><a class="unstyle-btn" href="{% url 'index' %}"></a>Home</li>
                <li class="nav-item"><a class="unstyle-btn" href="{% url 'login' %}"></a>Login</li>
                <li class="nav-item"><a class="unstyle-btn" href="{% url 'register' %}"></a>Register</li>
                
                {% endif %}  
            </ul>
        </nav>
        <main>
            <div class="body">
                {% block body %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>