.title{
    h3{
        font-size: 2rem;
        margin-left: 4rem;
    }
    background-color: $bg-primary;
    height: 5rem;
    padding: 15px 5px;
    border-bottom: $border-color 1px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}